<launch>
    <!--
        로봇은 CAN 버스 또는 UART 포트를 통해 제어할 수 있습니다. 로봇에 연결하기 전에
        하드웨어 인터페이스가 올바르게 설정되어 있는지 확인하세요.

        포트 이름만 지정하면 됩니다. 예: "can0", "/dev/ttyUSB0". 포트는 다음과 같은 구성을 가져야 합니다:

        * CAN 버스: 500k
        * UART: 115200, 패리티 없음, 8비트 데이터, 1 스톱 비트
    -->
    <arg name="port_name" default="can0" />
    <arg name="is_scout_mini" default="false" />
    <arg name="is_scout_omni" default="false" />
    <arg name="simulated_robot" default="false" />
    <arg name="odom_topic_name" default="odom" />
    <arg name="pub_tf" default="$(arg pub_tf)" />

    <!-- scout_base_node 노드를 실행합니다. -->
    <node name="scout_base_node" pkg="scout_base" type="scout_base_node" output="screen" required="true">
        <!-- 스카우트 미니 버전 여부를 설정합니다. -->
        <param name="is_scout_mini" type="bool" value="$(arg is_scout_mini)" />
        
        <!-- 스카우트 오미니 버전 여부를 설정합니다. -->
        <param name="is_scout_omni" type="bool" value="$(arg is_scout_omni)" />
        
        <!-- 포트 이름을 설정합니다. -->
        <param name="port_name" type="string" value="$(arg port_name)" />
        
        <!-- 시뮬레이션 모드 여부를 설정합니다. -->
        <param name="simulated_robot" type="bool" value="$(arg simulated_robot)" />
        
        <!-- 오도메트리 프레임 이름을 설정합니다. -->
        <param name="odom_frame" type="string" value="odom" />
        
        <!-- 베이스 프레임 이름을 설정합니다. -->
        <param name="base_frame" type="string" value="base_link" />
        
        <!-- 오도메트리 토픽 이름을 설정합니다. -->
        <param name="odom_topic_name" type="string" value="$(arg odom_topic_name)" />
        
        <!-- TF(Topic Publisher) 메시지를 발행할지 여부를 설정합니다. -->
        <param name="pub_tf" type="bool" value="$(arg pub_tf)" />
    </node>
</launch>
